So far, we've coded our graphs using Matplotlib. In this lesson, we'll introduce Seaborn — a Python data visualization library that builds on Matplotlib.

The graphs we've built showed at most two variables (columns):

- Time versus number of coronavirus cases
- Temperature versus bikes rented
- Slowness in traffic versus lack of electricity

Seaborn enables us to easily show more than two variables on a graph. Below, we see a graph with five variables (we'll introduce the data and explain the graph later in this lesson).

![](screen1_1.png)

Although the graph shows five variables, we generated it with a single line of code. Behind the curtains, however, Seaborn used many lines of Matplotlib code to build the graph.

Throughout the lesson, we'll use a dataset about house characteristics and sale prices. The houses were sold between 2006 and 2010 in Ames, Iowa. Below, we see the first five rows:

Professor Dean DeCock collected the data — he described the data collection process in a [paper](https://www.tandfonline.com/doi/abs/10.1080/10691898.2011.11889627) he published in the Journal of Statistics Education. We can find the documentation for the dataset at [this link](https://s3.amazonaws.com/dq-content/307/data_description.txt).

We slightly modified the dataset for teaching purposes. You can download the original dataset from [here](https://s3.amazonaws.com/dq-content/305/AmesHousing.txt) and the modified version from our interface.

Let's read in the data (done above!).

### Exercise:

1. Read in the `housing.csv` file into a pandas `DataFrame`. Assign the `DataFrame` to a variable named `housing`.
2. Inspect the first and the last five rows.
3. Use the `DataFrame.info()` method to learn some basic facts about the dataset:
   - What is the number of rows and columns?
   - Are there null values?
   - What is the data type of each column?

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
housing = pd.read_csv('housing.csv')

In [3]:
housing.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice,Year,Rooms
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,NaN,NaN,0,5,2010,WD,Normal,215000,1999 or older,7 rooms or more
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,MnPrv,NaN,0,6,2010,WD,Normal,105000,1999 or older,6 rooms or less
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,NaN,Gar2,12500,6,2010,WD,Normal,172000,1999 or older,6 rooms or less
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,4,2010,WD,Normal,244000,1999 or older,7 rooms or more
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,MnPrv,NaN,0,3,2010,WD,Normal,189900,1999 or older,6 rooms or less

In [4]:
housing.tail()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice,Year,Rooms
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,GdPrv,NaN,0,3,2006,WD,Normal,142500,1999 or older,6 rooms or less
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,MnPrv,NaN,0,6,2006,WD,Normal,131000,1999 or older,6 rooms or less
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,MnPrv,Shed,700,7,2006,WD,Normal,132000,1999 or older,6 rooms or less
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,4,2006,WD,Normal,170000,1999 or older,6 rooms or less
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,11,2006,WD,Normal,188000,1999 or older,7 rooms or more

In [5]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 84 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS SubClass      2930 non-null   int64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2440 non-null   float64
 5   Lot Area         2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            198 non-null    object
 8   Lot Shape        2930 non-null   object
 9   Land Contour     2930 non-null   object
 10  Utilities        2930 non-null   object
 11  Lot Config       2930 non-null   object
 12  Land Slope       2930 non-null   object
 13  Neighborhood     2930 non-null   object
 14  Condition 1      2930 non-null   object
 15  Condition 2      2930 non-null   object
 16  Bldg Type        2930 non-null   object
 17  House Style      2930 non-null   object
 18  Overall Qual     2930 non-null   int64
 19  Overall Cond     2930 non-null   int64
 20  Year Built       2930 non-null   int64
 21  Year Remod/Add   2930 non-null   int64
 22  Roof Style       2930 non-null   object
 23  Roof Matl        2930 non-null   object
 24  Exterior 1st     2930 non-null   object
 25  Exterior 2nd     2930 non-null   object
 26  Mas Vnr Type     2907 non-null   object
 27  Mas Vnr Area     2907 non-null   float64
 28  Exter Qual       2930 non-null   object
 29  Exter Cond       2930 non-null   object
 30  Foundation       2930 non-null   object
 31  Bsmt Qual        2850 non-null   object
 32  Bsmt Cond        2850 non-null   object
 33  Bsmt Exposure    2847 non-null   object
 34  BsmtFin Type 1   2850 non-null   object
 35  BsmtFin SF 1     2929 non-null   float64
 36  BsmtFin Type 2   2849 non-null   object
 37  BsmtFin SF 2     2929 non-null   float64
 38  Bsmt Unf SF      2929 non-null   float64
 39  Total Bsmt SF    2929 non-null   float64
 40  Heating          2930 non-null   object
 41  Heating QC       2930 non-null   object
 42  Central Air      2930 non-null   object
 43  Electrical       2929 non-null   object
 44  1st Flr SF       2930 non-null   int64
 45  2nd Flr SF       2930 non-null   int64
 46  Low Qual Fin SF  2930 non-null   int64
 47  Gr Liv Area      2930 non-null   int64
 48  Bsmt Full Bath   2928 non-null   float64
 49  Bsmt Half Bath   2928 non-null   float64
 50  Full Bath        2930 non-null   int64
 51  Half Bath        2930 non-null   int64
 52  Bedroom AbvGr    2930 non-null   int64
 53  Kitchen AbvGr    2930 non-null   int64
 54  Kitchen Qual     2930 non-null   object
 55  TotRms AbvGrd    2930 non-null   int64
 56  Functional       2930 non-null   object
 57  Fireplaces       2930 non-null   int64
 58  Fireplace Qu     1508 non-null   object
 59  Garage Type      2773 non-null   object
 60  Garage Yr Blt    2771 non-null   float64
 61  Garage Finish    2771 non-null   object
 62  Garage Cars      2929 non-null   float64
 63  Garage Area      2929 non-null   float64
 64  Garage Qual      2771 non-null   object
 65  Garage Cond      2771 non-null   object
 66  Paved Drive      2930 non-null   object
 67  Wood Deck SF     2930 non-null   int64
 68  Open Porch SF    2930 non-null   int64
 69  Enclosed Porch   2930 non-null   int64
 70  3Ssn Porch       2930 non-null   int64
 71  Screen Porch     2930 non-null   int64
 72  Pool Area        2930 non-null   int64
 73  Pool QC          13 non-null     object
 74  Fence            572 non-null    object
 75  Misc Feature     106 non-null    object
 76  Misc Val         2930 non-null   int64
 77  Mo Sold          2930 non-null   int64
 78  Yr Sold          2930 non-null   int64
 79  Sale Type        2930 non-null   object
 80  Sale Condition   2930 non-null   object
 81  SalePrice        2930 non-null   int64
 82  Year             2930 non-null   object
 83  Rooms            2930 non-null   object
dtypes: float64(11), int64(28), object(45)
memory usage: 1.9+ MB

On the previous screen, we introduced a graph that shows five variables (columns):

- `SalePrice`: price of the sale in USD <p>
- `Gr Liv Area`: above grade (ground) living area in square feet <p>
- `Overall Qual`: quality ratings of the overall material and finish of the house <p>
- `Garage Area`: garage area in square feet <p>
- `Rooms` : number of rooms <p>

![](screen1_1.png)
    
We'll start by plotting only two of these variables: SalePrice and Gr Liv Area. In the code below, we do the following:

- Import `seaborn` as `sns` — "sns" is the standard alias. <p> 
- Import `matplotlib.pyplot` as `plt` — "plt" is the standard alias. <p> 
- Call the `sns.relplot()` function to generate the plot. <p> 
    - We pass in the `housing` DataFrame to the `data` parameter. <p> 
    - We pass in the column names as strings to parameters `x` and `y`. <p> 
    - By default, the `sns.relplot()` function generates a scatter plot. <p> 
- Call `plt.show()` to display the graph (this works because Seaborn uses Matplotlib code behind the curtains — just like Pandas).