In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2], [4,5], [7,8]],
                 index=['cobra', 'viper', 'sidewinder'],
                 columns=['max_speed', 'shield'])

In [3]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [4]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [6]:
df['shield']

cobra         2
viper         5
sidewinder    8
Name: shield, dtype: int64

In [7]:
df[:]

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [8]:
df[:1]

       max_speed  shield
cobra          1       2