In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2], [4,5], [7,8]],
                 index=['cobra', 'viper', 'sidewinder'],
                 columns=['max_speed', 'shield'])

In [3]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [4]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [6]:
df['shield']

cobra         2
viper         5
sidewinder    8
Name: shield, dtype: int64

In [13]:
type(df['shield'])

pandas.core.series.Series

In [7]:
df[:]

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [8]:
df[:1]

       max_speed  shield
cobra          1       2

In [12]:
df[['shield']]

            shield
cobra            2
viper            5
sidewinder       8

In [14]:
type(df[['shield']])

pandas.core.frame.DataFrame

In [15]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [24]:
df.loc[['viper']]

       max_speed  shield
viper          4       5

In [25]:
type(df.loc[['viper']])

pandas.core.frame.DataFrame

In [26]:
type(df.loc['viper'])

pandas.core.series.Series

In [27]:
df.loc[:,:]

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [33]:
df_bool = df['shield'] > 5

In [34]:
df_bool

cobra         False
viper         False
sidewinder     True
Name: shield, dtype: bool

In [35]:
df.loc[df_bool]

            max_speed  shield
sidewinder          7       8

In [36]:
df['max_speed']

cobra         1
viper         4
sidewinder    7
Name: max_speed, dtype: int64

In [43]:
df[['max_speed','shield']]

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8